<% layout('../layout/main-display') -%>
<% block('backgroundClass', 'error')%>

<div class="card error" style="margin: 10px auto;">
    <div class="section">
        <h3 class="doc">Uh oh</h3>
        <p class="doc">Someting went wrong!</p>
    </div>
</div>