<% layout('../layout/main-display') -%> 
<% block('title', 'Football') %>
<% block('backgroundClass', 'front')%>

<div class="row">
    <div class="col-sm-12 col-md-8"></div>
    <div class="col-sm-12 col-md-4">
        <div class="card shadowed quote-front">
            <h1>Scores give better decision than judges. <br/>Keep scorring!</h1>
        </div>
    </div>
</div>

